<h1>Avout Page</h1>
<p>ABOUT - Pin Rails</p>

<%= link_to "Pin-Rails", "http://www.sitesignals.com" %>
is a personnel project to teach myself 
<%= link_to "Ruby on Rails", "http://www.rubyonrails.org" %>
this is a sample application.

