<div class="hero-unit">
<h1>Welcome to Pin-Rails</h1>
<p>You have found the page for 
</p>
<p>
<a href="#" class="btn btn-0primary btn-large">Pin Rails</a>
</p>
<%= link_to "Pin Rails", "http://www.sitesignals.com" %>
</div>
